.toast {
    display: flex;
    border-left: 5px solid ;
    align-items: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
    padding: 15px;
    background-color: #fff;
    width: 450px;
    margin: 0 auto;
    transition: all 0.4s linear;

}
.toast + .toast {
    margin-top: 20px;
}
.toast__icon {
    font-size: 18px;
    padding-right: 15px;
}
.toast__body {
    flex-grow: 1;
}
.toast__title {
    font-size: 20px;
    color: rgba(0, 0, 0,0.8);
    margin: 0;
}
.toast__mess {
    font-size: 16px;
    color: #888;
}
.toast__close {
    font-size: 24px;
    color: #333;
}
.toast--success {
    border-color: green;
}
.toast--success .toast__icon {
    color: green;
}
.toast--info {
    border-color: blue;
}
.toast--info .toast__icon {
    color: blue;
}
.toast--warning {
    border-color: orange;
}
.toast--warning .toast__icon {
    color: orange;
}
.toasts {
    position: fixed;
    right: 40px;
    top: 40px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(calc(100% + 40px));
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform:  translateX(0);
    }
}
@keyframes fadeOut {
    100% {
        opacity: 0;
    }

}
.btn__wrapper {
    width: 400px;
    margin: 0 auto;
    margin-top: 400px;
}
.btn--success {
    padding: 10px 50px;
    background-color: green;
    font-size: 20px;
    display: inline-block;
    border-radius: 20px;
    color: #fff;
    margin-right: 20px;

}
.btn--warning{
    font-size: 20px;
    padding: 10px 50px;
    background-color: orange;
    display: inline-block;
    border-radius: 20px;
    color: #fff;
}